/* Footer.css */

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #0099ff; /* Ajuste a cor conforme necessário */
  color: #fff;
}

.footer-container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container h3 {
  margin-bottom: 10px;
  font-size: 1.4em;
}

.footer-container p {
  margin: 0;
  font-size: 1.2em;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espaço entre as colunas no modo responsivo */
  }
}
