/* Footer.css */
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #0099ff;
  color: #fff;
}

/* Seções do footer organizadas verticalmente com espaço entre itens */
.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Links com efeito hover */
.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  color: #130080;
}

/* Imagens do footer organizadas com espaço */
.footer-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Tamanho padrão das imagens */
.footer-images img {
  width: 250px;
  height: auto;
}

#brasao-lsd {
  width: 200px;
  height: auto;
}

.copyright {
  padding: 5px;
  text-align: center;
  font-size: 0.8rem;
  background-color: #0077cc;
  color: #fff;
}	

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column; /* Footer em coluna */
      align-items: center;
      text-align: center; /* Centralizar texto */
      gap: 20px;
  }

  /* Centralizar cada seção do footer */
  .footer-section {
      align-items: center;
  }

  /* Ajustar largura das imagens para caber melhor em telas pequenas */
  .footer-images img {
      width: 150px; /* Reduzir para melhor adaptação em telas menores */
  }

  #brasao-lsd {
      width: 150px; /* Reduzir o tamanho do brasão para manter o design responsivo */
  }
}
