/* Estilo da seção de notícias */
.news-section {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: #FFFFFF;
}

/* Ajuste do image-slider para ser maior que os demais elementos */
.image-slider {
  width: 100%;
  height: 900px; /* Definido para ser significativamente maior */
  margin-bottom: 30px; /* Espaçamento entre o slider e o próximo conteúdo */
}

/* Responsividade: Ajuste do image-slider em telas pequenas */
@media (max-width: 768px) {
  .image-slider {
    height: 500px; /* Reduz a altura do slider em telas menores */
  }
}

/* Separador */
.separator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
}

.separator-container div {
  border: 2px solid #0099ff;
  border-radius: 5px;
  width: 100%;
  margin: 1rem;
}

.separator-container h2 {
  width: 60rem;
  font-size: 2rem;
  font-weight: bold;
  color:#0099ff
}

/* Grid de Notícias */
.news-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto;
  gap: 20px;
  margin: 0 auto;
  width: 95%;
}

/* Ajuste da grid para telas menores */
@media (max-width: 768px) {
  .news-grid {
    grid-template-columns: 1fr; /* Em telas pequenas, mostra os itens em uma coluna */
    gap: 10px; /* Reduz o espaçamento entre os itens */
  }
}

/* Estilo dos itens de notícia */
.news-item {
  cursor: pointer;
  border-radius: 5px;
  height: 340px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.news-item:hover .background-zoom {
  transform: scale(1.06);
}

/* Ajuste para o item grande */
.news-item.large {
  height: 700px;
  grid-row: span 2;
  color: #FFFFFF;

}

/* Sobreposição de cor escura no item de notícia */
.news-item::before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  pointer-events: none;
}

/* Títulos das notícias */
.news-item-title {
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.news-item.large .news-item-title {
  font-size: 1.5rem;
  color:#FFFFFF;
}

.news-item:not(.large) .news-item-title {
  font-size: 1rem;
  color:#FFFFFF;

}

/* Imagem do item de notícia */
.news-image {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Responsividade: ajuste das imagens */
@media (max-width: 768px) {
  .news-image {
    max-height: 200px; /* Ajusta a altura das imagens em telas menores */
  }
}

/* Conteúdo do post */
.post-content {
  padding: 20px;
  text-align: left;
  position: relative;
  color: #FFFFFF;

}

/* Botão "Ver mais" */
.see-more-button {
  padding: 20px 40px;
  font-size: 1rem;
  background-color: #0099ff;
  color: white;
  border: none;
  width: 20rem;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

/* Efeito de hover no botão "Ver mais" */
.see-more-button:hover {
  transform: scale(1.05);
}

/* Responsividade: ajustes para telas menores */
@media (max-width: 768px) {
  .see-more-button {
    width: 100%; /* Botão ocupa toda a largura em telas pequenas */
    padding: 15px 30px; /* Ajuste do padding do botão em telas pequenas */
  }
}

@media (max-width: 480px) {
  .separator-container h2 {
    font-size: 1.5rem; /* Tamanho da fonte do título ajustado em telas muito pequenas */
  }

  .see-more-button {
    width: 100%; /* Ajuste do tamanho do botão em telas muito pequenas */
    font-size: 1rem; /* Ajuste do tamanho da fonte do botão em telas muito pequenas */
  }

  /* Ajuste das imagens no grid */
  .news-item {
    height: auto; /* Remove a altura fixa para as notícias */
  }

  .news-image {
    max-height: 150px; /* Ajusta ainda mais a altura das imagens em dispositivos pequenos */
  }
}
