.news-section {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
  padding: 20px;
}

.image-slider {
  width: 100%;
  height: 622px;
}

.separator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;

  div {
    border: 2px solid #0099ff;
    border-radius: 5px;
    width: 100%;
    margin: 1rem;
  }

  h2 {
    width: 50rem;
    font-size: 2rem;
    font-weight: bold;
  }
}

.news-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto;
  gap: 20px;
  margin: 0 auto;
  max-width: 900px;
}

.news-item {
  height: 300px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.news-item.large {
  height: 622px;
  grid-row: span 2; /* O primeiro bloco ocupa duas linhas */
}

.see-more-button {
  width: 14rem;
  padding: 15px 20px;
  font-size: 1rem;
  background-color: #0099ff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  animation: 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
