/* Container geral da página */
.post-page-container {
  width: 100%;
  margin-inline: auto;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

/* Imagem de destaque */
.featured-image {
  width: 100%;
  margin-bottom: 20px;
}

.featured-image-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Conteúdo do Post */
.post-page-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  margin-top: 150px;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Título do post */
.post-page-content h1 {
  font-size: 2.5rem;
  color: #232323;
  margin-bottom: 1.5rem;
  font-weight: 700;
  text-align: center;
}

/* Parágrafos do post */
.post-page-content p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1.5rem;
  line-height: 1.8;
  text-align: justify;
}

/* Responsividade */
@media (max-width: 1024px) {
  /* Imagem em telas médias (tablets) */
  .featured-image-img {
    height: 350px; /* Ajusta para uma altura média */
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .post-page-content h1 {
    font-size: 2rem;
    text-align: left;
  }

  .post-page-content p {
    font-size: 1rem;
  }

  .featured-image-img {
    height: 250px; /* Ajusta a imagem para tamanhos menores */
    object-fit: cover;
  }

  .post-page-content {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .post-page-content h1 {
    font-size: 1.7rem;
  }

  .post-page-content p {
    font-size: 0.95rem;
  }

  .featured-image-img {
    height: 200px; /* Diminuir ainda mais a altura da imagem em dispositivos pequenos */
    object-fit: cover;
  }

  .post-page-content {
    padding: 0.5rem;
  }
}
