/* Estilos para a página do post */
.post-page-container {
  width: 100%;
  margin-inline: auto;
}

.post-page-content {
  margin: 8rem 0 8rem 0;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.post-page-content h1 {
  font-size: 4rem;
  color: #232323;
  margin-bottom: 2rem;
}

.post-page-content p {
  font-size: 1.2rem;
  color: #232323;
  margin-bottom: 1rem;
}
